# https://google.github.io/python-fire/guide/
fire
# Beautiful spinners for terminal, IPython and Jupyter
halo
# https://pypi.org/project/PyYAML/
PyYAML
# https://github.com/pyecharts/pyecharts
pyecharts